{% extends "base.html" %}

{% block content %}      

{% load crispy_forms_tags %}

<!--Login--> 
<div class="container py-5">
  <h1 style="color: white;">Login</h1>
  <form method="POST" style="color: white;">
    {% csrf_token %}
    {{ login_form|crispy }}
    <button class="btn btn-primary" type="submit">Login</button>
  </form>/
  <p class="text-center" style="color: white;">Don't have an account? <a href="{% url 'register' %}" style="color: pink;">Create an account</a>.</p>
</div>


{% endblock %}