<!DOCTYPE html>
<html>
<head>
    <title>Service List</title>
</head>
<body style="background-color: green;">
    <h1 style="text-align: center; color:blanchedalmond;">Service List</h1>
    <table>
        <thead>
            <tr>
                <th>Name</th>
                <th>Description</th>
                
            </tr>
        </thead>
        <tbody>
            {% for service in services %}
            <tr>
                <td>{{ service.name }}</td>
                <td>{{ service.description }}</td>
                
            </tr>
            {% endfor %}
        </tbody>
    </table>
</body>
</html>